<div style="text-align: center; margin-top: 1%;">
    <div>
        <p style="font-size:xx-large;">Draw anything you want!</p>
        <p style="font-size:x-small;">As long as it fits 256 by 144 canvas</p>
    </div>
    <hr style="width: 80%; border: 5px solid; border-radius: 2px;">
    <div>
        <p style="font-size: large;">This site allows you to create and publish pixelart pictures via in-browser tool. Enjoy!</p>
    </div>
    <hr style="width: 80%; border: 5px solid; border-radius: 2px;">
    <div class="card" style="margin-left: 20%;margin-right: 20%; text-align:left; padding: 1%">
        <p style="font-size: larger; text-align: center;">Rules</p>
        <p>1. Be nice to one another. If you feel like the drawing isn't all that good, offer advice</p>
        <p>2. Do not steal others artwork. That includes all art in general, not just on-site pieces </p>
        <p>3. Do not post generally offensive content. Especially if it's illegal in your (or any) country</p>
        <p>4. Do not advertise anything.</p>
        <p>5. Do not abuse the rules. Just because you found a loophole, doesn't mean you can use it</p>
    </div>
</div>