<div class="card mb-4" style="padding: 10px 15px;">
  <!--<div *ngIf="comment.userID==1">
    <p>Thus spoke {{comment.user.nickname}}:</p>
  </div>
  <div *ngIf="comment.userID!=1">
    <p>{{comment.user.nickname}} says:</p>
  </div>-->
  <div style="display: flex; justify-content: space-between;">
    <p>{{comment.commentingUser?.userName}} said on <a [routerLink]="['/pictures/',comment.pictureID]">{{comment.commentedPicture.title}}</a></p>
    <p>{{comment?.dateSent | date: 'dd\/MM\/YYYY\ '}}</p>
  </div>
  <hr style="margin: 0.1em auto;">
  <p>{{comment.content}}</p>
</div>
